.gpt3__cta {
  background: var(--gradient-bar);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}
.gpt3__cta-content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4em;
}
.gpt3__cta-content h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 1.4em;
  margin-top: 1rem;
}
.gpt3__cta-button button {
  background: #000000;
  border-radius: 40px;
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 700;
  padding: 0.8rem 2rem;
  cursor: pointer;
  border: 0;
  outline: none;
  white-space: nowrap;
}

@media screen and (max-width: 860px) {
  .gpt3__cta {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
  .gpt3__cta-content h3 {
    font-size: 22px;
  }
  .gpt3__cta-button button {
    font-size: 16px;
  }
}
@media screen and (max-width: 550px) {
  .gpt3__cta-button button {
    font-size: 14px;
  }
  .gpt3__cta {
    align-items: center;
  }
  .gpt3__cta-content h3 {
    font-size: 18px;
  }
}
