.gpt3__blog {
  display: flex;
  row-gap: 70px;
  flex-direction: column;
}
.gpt3__blog-heading h3 {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 800;
  line-height: 1.4em;
}
.gpt3__blog-content {
  display: flex;
  column-gap: 40px;
}
.gpt3__blog-content__groupb {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
.gpt3__blog-content__groupa .gpt3__article {
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .gpt3__blog-content {
    flex-direction: column-reverse;
    row-gap: 40px;
  }
}
@media screen and (max-width: 650px) {
  .gpt3__blog-content {
    flex-direction: column;
    row-gap: 40px;
  }
  .gpt3__blog-content__groupb {
    grid-template-columns: repeat(1, 1fr);
  }
}
