.gpt3__possibility {
  display: flex;
  column-gap: 50px;
  align-items: flex-end;
}
.gpt3__possibility img {
  width: 100%;
  height: auto;
}
.gpt3__possibility .gpt3__possibility-image {
  flex: 1;
}
.gpt3__possibility .gpt3__possibility-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.gpt3__possibility-content .colo-text {
  color: #71e5ff;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}
.gpt3__possibility-content h3 {
  font-family: var(--font-family);
  font-size: 34px;
  font-weight: 800;
  line-height: 1.4em;
}
.gpt3__possibility-content p {
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5em;
}
.gpt3__possibility-content p.color-subtext {
  color: var(--color-subtext);
}
@media screen and (max-width: 850px) {
  .gpt3__possibility {
    flex-direction: column;
    row-gap: 50px;
  }
  .gpt3__possibility-content h3 {
    font-size: 24px;
  }
  .gpt3__possibility .gpt3__possibility-content {
    row-gap: 30px;
  }
}
